body {
	font-family: Montserrat;
	background-color: #efefef;
}

a {
	text-decoration: none;
	color: $mainColorOne;
	font-weight: 600;
	border-bottom: 2px dashed $mainColorOne;
	transition: 0.3s;
}

p {
	line-height: 1.45;
	font-size: 1.2rem;
}

code {
	background-color: lightgrey;
}

.title-font {
	font-family: 'Shrikhand';
	font-weight: 300;
}

.centered {
	text-align: center;
}

.patterned {
	background-image: url('../../assets/images/svg/pattern.svg');
}

.patterned-reverse {
	background-image: url('../../assets/images/svg/pattern-reverse.svg');
	background-repeat: repeat;
}

.patterned-before-large {
	background-image: url('../../assets/images/svg/pattern.svg');
	background-repeat: repeat;
	
	@mixin atLarge {
		background-image: none;
	}
}

.at-medium-square-text {
	font-size: 1.25rem;
	line-height: 2rem;
	padding: 15px 0 15px 0;
	text-align: left;
	
	/*@mixin atSmall {
		width: 70%;
		margin: auto;
	}*/
	
	@mixin atSmall {
		display: block;
		width: 70%;
		text-align: justify;
		margin: auto;
	}
}

.left-float {
	float: left;
}

.t-padding {
	padding-top: 50px;
}
.top-margin {
	margin-top: 100px;
}
.bottom-margin {
	margin-bottom: 100px;
}
.left-side {
	@mixin atLarge {
		background-color: ; 
	}
	 
}