body {
	font-family: Montserrat;
	background-color: #efefef;
}

a {
	text-decoration: none;
	color: #FA5F62;
	font-weight: 600;
	border-bottom: 2px dashed #FA5F62;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

p {
	line-height: 1.45;
	font-size: 1.2rem;
}

code {
	background-color: lightgrey;
}

.title-font {
	font-family: 'Shrikhand';
	font-weight: 300;
}

.centered {
	text-align: center;
}

.patterned {
	background-image: url('../../assets/images/svg/pattern.svg');
}

.patterned-reverse {
	background-image: url('../../assets/images/svg/pattern-reverse.svg');
	background-repeat: repeat;
}

.patterned-before-large {
	background-image: url('../../assets/images/svg/pattern.svg');
	background-repeat: repeat;
}

@media (min-width: 1010px) {

.patterned-before-large {
		background-image: none
}
	}

.at-medium-square-text {
	font-size: 1.25rem;
	line-height: 2rem;
	padding: 15px 0 15px 0;
	text-align: left;
}

/*@mixin atSmall {
		width: 70%;
		margin: auto;
	}*/

@media (min-width: 530px) {

.at-medium-square-text {
		display: block;
		width: 70%;
		text-align: justify;
		margin: auto
}
	}

.left-float {
	float: left;
}

.t-padding {
	padding-top: 50px;
}

.top-margin {
	margin-top: 100px;
}

.bottom-margin {
	margin-bottom: 100px;
}

@media (min-width: 1010px) {

.left-side {
		background-color: 
	 
}
	}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

.front-door {
	text-align: center;
}

@media (min-width: 530px) {

.front-door {
		width: 100vw
}
	}

.front-door__greeting {
		font-size: 2.5rem;
		text-align: center;
		padding-left: 10px;
		-webkit-transition: 0.3s;
		transition: 0.3s;
		margin-top: 0;
		padding-top: 0.25em;
		margin-bottom: 0;
		padding-bottom: 0.25em;
	}

.front-door__description {
		padding: 15px 0 15px 10px;
		font-size: 1.25rem;
		margin: 0 5px 0 5px;
		text-align: center;
	}

.list--t-padding {
		padding-top: 100px;
	}

.list--pointless {
		list-style: none;
		padding-left: 0;
		font-size: inherit;
	}

.list__wrapper {
		display: block;
		width: 100%;
		margin: 0px auto 0px auto;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}

/*@mixin atSmall {
			width: 70%;
		}
		
		@mixin atMedium {
			width: 70%;
		}
		
		@mixin atLarge {
			width: 70%; 
		}*/

.list__wrapper--narrow {
			width: 300px;
			
		}

@media (min-width: 530px) {

.list__wrapper--narrow {
				width: 300px;
				margin-bottom: 50px;
				margin-top: 50px
			
		}
	}

@media (min-width: 1010px) {

.list__wrapper--narrow {
				/*width: 90%;*/
				margin: 0px auto 0px auto
			
		}
	}

.list__wrapper--lefted {
			margin: 0;
		}

.list__wrapper__title {
			background-color: #FA5F62;
			width: 100%;
			margin: 0;
			padding: 10px 0 10px 0;
			font-weight: 300;
			text-align: left;
			padding-left: 10px;
			-webkit-box-sizing: border-box;
			        box-sizing: border-box;
			color: #efefef;
		}

.list--square {
		line-height: 1.75rem;
		text-align: left;
		margin: auto;
		width: 100%;
		background-color: lightgrey;
		border-spacing: 0;
		
	}

.list--square ul {
			margin: 0 auto 0 auto;
		}

.list--square td {
			padding-left: 10px;
		}

.list--square tr:nth-child(even) {
			background-color: #c7c7c7;
		}

.list--images{
			padding-left: 0;
			background-color: lightgrey;
			-webkit-transition: 0.3s;
			transition: 0.3s;
			margin: 0;
		}

.list--images * {margin: 0; padding: 0;}

.list--images div {
		  margin: 20px;
		}

.list--images ul {
		  list-style-type: none;
		}

.list--images li h3 {
			padding-top: 10px;
			line-height: 1.6rem;
		}

.list--images li img {
		  float: left;
		  margin: 0 15px 0 0;
		  width: 150px;
		  height: 150px;
		}

.list--images li p {
		  padding: 10px;
		  line-height: 1.5rem;
		}

.list--images li {
		  overflow: auto;
		  display: block;
		  width: 100%;
		  text-align: left;
		  -webkit-transition: 0.3s;
		  transition: 0.3s;
		}

@media (min-width: 1010px) { 
			.list--images li:hover {
				background: white; 
				-webkit-transition: 0.3s; 
				transition: 0.3s;
				-webkit-transform: scale(1.1);
				        transform: scale(1.1);
			}
	}

/* 12 column grid */

.row::after {
		content: "";
		clear: both;
		display: table;
	}

.row--gutters > div {
		padding: 0 10px 0 10px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}

@media (min-width: 1010px) {

.row--r-border {
			border-right: 5px solid #FA5F62;
			-webkit-box-sizing: border-box;
			        box-sizing: border-box
	}
	}

@media (min-width: 1010px) {

.row--fixed-left {
			position: fixed;
			left: 0;
			top: 0;
			height: 100vh;
			overflow-Y: scroll;
			overflow: auto
	}
	}

@media (min-width: 1010px) {

.row--flow-right {
			position: absolute;
			right: 0;
			top: 0
	}
	}

@media (min-width: 1010px) {

.row__3 {
			float: left;
			width: 25%
		
	}
	}

@media (min-width: 1010px) {

.row__4 {
			float: left;
			width: 33%
	}
	}

@media (min-width: 1010px) {

.row__6 {
			float: left;
			width: 50%
	}
	}

@media (min-width: 1010px) {

.row__8 {
			float: left;
			width: 67%
	}
	}

@media (min-width: 1010px) {

.row__10 {
			float: left;
			width: 83.3%
	}
	}

.about {
	text-align: left;
}

@media (min-width: 530px) {

.about {
		padding-bottom: 100px
}
	}

.wrapper {
	width: 85%;
	margin: auto;
}

@media (min-width: 800px) {

.wrapper {
		width: 70%
}
	}

.caption-tile {
	margin: 0 20px 0 0;
	width: 100%;
	height: 300px;
}

@media (min-width: 800px) {

.caption-tile {
		width: 200px;
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}
	}

.caption-tile__image {
		display: block;
		width: 200px;
		height: 200px;
		background-color: blue;
		margin: auto;
	}

.caption-tile__caption {
		text-align: center;
		font-size: 1.15rem;
		line-height: 1.5rem;
	}

.sub-heading {
	font-size: 1.75rem;
	text-align: center;
	padding-bottom: 10px;
}

@media (min-width: 800px) {

.sub-heading {
		font-size: 2rem;
		text-align: left
}
	}

.quotation-box {
	background: lightgrey;
	line-height: 3rem;
	font-size: 1.2rem;
	border-left: 7px solid #FA5F62;
	margin-bottom: 50px;
	max-width: 700px;
}

@media (min-width: 800px) {

.quotation-box {
		margin-top: 100px;
		margin-bottom: 100px
}
	}

.quotation-box__quotation{
		padding: 15px;
		padding-bottom: 0;
		margin: 0;
	}

.quotation-box__source{
		color: #FA5F62;
		text-align: right;
		padding: 10px;
		margin: 0;
		font-weight: 500;	
	}

.quotation-box__source::before {
			content: "- "
		}

.quotation-box::before {
		content: '"';
		font-size:5rem;
		color: #efefef;
		display: block;
		text-align: center;
		line-height: 5rem;
		width:  100%;
		height: 50px;
		font-family: serif;
		background-color: #FA5F62;
	}

.menu__button {
		cursor: pointer;
		width: 70px;
		height: 70px;
		background-color: #FA5F62;
		margin: 0 auto 0 auto;
		-webkit-transition: 1s;
		transition: 1s;
		
	}

@media (min-width: 1010px) {

.menu__button {
			left: 0;
			right: initial;
			position: fixed
		
	}
	}

.menu__button:hover {
			background-color: rgba(0, 0, 0, 0.5);
		}

.menu__button img {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
		}

.menu__button--close-x {
				-webkit-transform: scaleX(-1);
				        transform: scaleX(-1);
		}

.menu__content {
		background-color: rgba(255, 255, 255, 0.9);
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		padding-top: 40px;
		z-index: 100;
		visibility: hidden;
		display: none;
		color: #efefef;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}

@media (min-width: 530px) {
	}

@media (min-width: 800px) {

.menu__content {
			border-bottom: 0;
			border-bottom: 8px solid #FA5F62
	}
	}

@media (min-width: 1010px) {

.menu__content {
			border-bottom: 0px
	}
	}

.menu__content--is-visible {
			visibility: visible;
			display: block;
		}

.menu__content__tile {
			background-color: #FA5F62;
			width: 70%;
			padding: 15px;
			margin: 15px auto 15px auto;
		}

@media (min-width: 800px) {

.menu__content__tile {
				margin: 50px auto 50px auto;
				padding: 25px;
				width: 300px
		}
	}

.menu__content__contact {
			width: 100%;
			display: block;
			padding-top: 50px;
		}

@media (min-width: 800px) {

.menu__content__contact {
				padding-top: 0px
		}
	}

.menu__content__contact__text{
				margin-top: 0;
			}

.menu__content__contact__email {
				font-size: 0.8rem;
				color: #efefef;
			}

@media (min-width: 800px) {

.menu__content__contact__email {
					font-size: 1rem
			}
	}

.menu__content__contact__phone-number {
				font-weight: 300;
				font-size: 1.25rem;
				color: #efefef;
			}

.icon {
	width: 50px;
	height: 50px;
	padding: 5px;
}

.icon__link {
		height: auto;
	}

.intro-fade {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	pointer-events: none;
	
	background-color: white;
	visibility: visible;
	
	-webkit-animation: intro-fading 1.5s forwards;
	
	        animation: intro-fading 1.5s forwards;
	-webkit-animation-timing-function: ease-out;
	        animation-timing-function: ease-out;
}

@-webkit-keyframes intro-fading {
	0%		{visibility: visible;
			opacity: 1;}
	100%	{visibility: hidden;
			opacity: 0;}
}

@keyframes intro-fading {
	0%		{visibility: visible;
			opacity: 1;}
	100%	{visibility: hidden;
			opacity: 0;}
}

.face-to-name__image-container {
		margin-left: auto;
		height: inherit;
		-webkit-box-sizing:border-box;
		        box-sizing:border-box;
	}

.face-to-name__image {
		height: 300px;
		border-radius: 40%;
		background-color: #FA5F62;
		display: block;
		-webkit-box-sizing:border-box;
		        box-sizing:border-box;
		margin: auto;
		margin-bottom: 50px;
		margin-top: 50px;
		-webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
		        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
	}

.face-to-name__menu {
		list-style-type: none;
		display: block;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		margin: 0 10px 0 10px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		padding-left: 0px;
		padding-top: 50px;
		padding-bottom: 50px;
	}

@media (min-width: 1010px) {

.face-to-name__menu {
			width: 70px;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			position: fixed;
			top: 0px;
			left: 33%;
			text-align: left;
			padding-top: 0;
			padding-bottom: 0;
			margin: 0
	}
	}

.face-to-name__menu a {
			border-bottom: none;
		}

.face-to-name__menu li {
			display: block;
			margin: auto;
			margin-top: 0px;
			margin-bottom: 10px;
			width: 70px;
		}

.face-to-name__menu__icon {
			display: inline-block;
			width: 70px;
			height: 70px;
			background-color: #FA5F62;
			margin-bottom: 5px;
			-webkit-transition: 0.5s;
			transition: 0.5s;
			position: relative;
		}

.face-to-name__menu__icon img {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				        transform: translate(-50%, -50%);
			}

.face-to-name__menu__icon:hover {
				background-color: rgba(0, 0, 0, 0.5);
			}

.my-work__project{
		margin: 100px 0 100px 0;
	}

.my-work__project__banner {
			width: 100%; 
		}

.color__text--white {
			color: #efefef;
		}

.color__text--default{
			color: #1c1c1c;
		}

.color__text--one{
			color: #FA5F62;
		}

.color__text--two{
			color: #F3E0B7;
		}

.color__text--three{
			color: #709062;
		}

/* Darker version of three for easier reading */

.color__text--three a:visited {
				color: #709062;
			}

.color__text--four{
			color: #29ACAE;
		}

.color__text--five{
			color: #1b4967;
		}

.color__background--default {
			background-color: #efefef;
		}

.color__background--one{
			background-color: #FA5F62;
		}

.color__background--two{
			background-color: #F3E0B7;
		}

.color__background--three{
			background-color: #9FD089;
		}

.color__background--four{
			background-color: #29ACAE;
		}

.color__background--five{
			background-color: /*#16384E*/ #1b4967;
		}

.color__border--default {
			border-color: #efefef;
		}

.color__border--one{
			border-color: #FA5F62;
		}

.color__border--two{
			border-color: #F3E0B7;
		}

.color__border--three{
			border-color: #9FD089;
		}

.color__border--four{
			border-color: #29ACAE;
		}

.color__border--five{
			border-color: #1b4967;
		}

.page-header__image{
		display: block;
		margin: auto;
		margin-top: 100px;
		width: 100px;
	}

@media (min-width: 1010px) {

.page-header__image{
			width: 200px
	}
	}

.post-tile {
	
	/*border: 1px solid black; /* testing */
	background-color: #efefef;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	padding: 10px;
	margin-bottom: 30px;
}

.post-tile__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 100%;
	}

@media (min-width: 1010px) {

.post-tile {
		width: 350px;
		margin: 20px
}
	}

.post-tile img {
		display: block;
		height: 100px;
		margin: auto;
	}

.blog-post__header__image {
			display: block;
			margin: auto;
			position: relative;
			max-width: 100%;
		}

@media (min-width: 800px) {

.blog-post__header__image {
				width: 450px
		}
	}

.blog-post__sheet {
		position: relative;
		z-index: 2;
		background-color: #efefef;
		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
		        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
		padding: 10px;
		display: block;
		margin: 50px auto 50px auto;
	}

@media (min-width: 800px) {

.blog-post__sheet {
			width: 80%
	}
	}

.blog-post__back-button {
		width: 100%;
		height: 75px;
		background-color: #29ACAE;
		margin: 20px auto 20px auto;
		text-align: center;
		position: relative;
	}

.blog-post__back-button--link {
			display: block;
			width: 200px;
			margin: auto;
			border: none;
		}

.blog-post__back-button p {
			display: block;
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
			margin: 0;
			color: #efefef;
		}

.blog-post a {
		color: #29ACAE;
		border-color: #29ACAE;
	}

.blog-post__image {
		max-width: 100%;
		margin-bottom: 0;
	}

.blog-post__image__caption {
			margin-top: 0;
			background-color: #29ACAE;
			color: #efefef;
			padding: 10px;
		}

@media (max-width: 1009px) {

.removable-panel {
		display: none
}}

.industries-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	text-align: center;
	padding-left: 0px;
}

.industries-list li {
		display: block;
		width: 150px;
		height: 100px;
		margin: 5px auto 5px auto;
		padding-top: 10px;
		position: relative;
		border-radius: 2px;
		background-color: #FA5F62;
		color: #efefef;
	}

@media (min-width: 800px) {

.industries-list li {
			margin: 5px
	}
	}

.industries-list li p {
			margin: 0;
			font-size: 1rem;
		}

.industries-list li img {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
			padding-top: 35px;
		}