.menu {
	&__button {
		cursor: pointer;
		width: 70px;
		height: 70px;
		background-color: $mainColorOne;
		margin: 0 auto 0 auto;
		transition: 1s;
		
		@mixin atLarge{
			left: 0;
			right: initial;
			position: fixed;
		}
		
		&:hover {
			background-color: rgba(0, 0, 0, 0.5);
		}
		
		& img {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		
		&--close-x {
				transform: scaleX(-1);
		}
		
	}
	
	&__content {
		background-color: rgba(255, 255, 255, 0.9);
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		padding-top: 40px;
		z-index: 100;
		visibility: hidden;
		display: none;
		color: #efefef;
		transition: 0.3s;
		
		@mixin atSmall {
			
		}
		
		@mixin atMedium{
			border-bottom: 0;
			border-bottom: 8px solid $mainColorOne;
		}
		
		@mixin atLarge {
			border-bottom: 0px;
		}
		
		&--is-visible {
			visibility: visible;
			display: block;
		}
		
		&__tile {
			background-color: $mainColorOne;
			width: 70%;
			padding: 15px;
			margin: 15px auto 15px auto;
			
			@mixin atMedium {
				margin: 50px auto 50px auto;
				padding: 25px;
				width: 300px; 
			}
		}
		
		&__contact {
			width: 100%;
			display: block;
			padding-top: 50px;
			
			@mixin atMedium {
				padding-top: 0px;
			}
			
			&__text{
				margin-top: 0;
			}
			
			&__email {
				font-size: 0.8rem;
				color: #efefef;
				
				@mixin atMedium {
					font-size: 1rem;
				}
			}
			
			&__phone-number {
				font-weight: 300;
				font-size: 1.25rem;
				color: #efefef;
			}
		}
	}
}